body{
    font-family: sans-serif;
    margin: 0%;
    padding: 0;
  }
  h1 {
    font-size: 36px;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin: 40px 0 20px;
}
  
  /*MENU SUPERIOR*/
  header{
    display: flex;
    min-height: 70px;
    background-color: darkcyan;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo{
    display: flex;
    align-items: center;
  }
  
  .logo img{
    height: 50px;
    margin-right: 10px;
    width: unset;
    padding: 0;
  }
  
  nav a{
    font-weight: 600;
    padding-right: 10px;
    color: #000000;
    text-decoration: none;
  }
  
  nav a:hover{
    color: white;
  }
/* Menu lateral */
.contenedor{
    display: flex;
    gap: 20px;
    
}
  
.menu-lateral{
    flex: 1.6; /* Proporciones */
    background-color: darkcyan;
    position: relative; /* Sus hijos se posocionan respecto al el */
    flex-direction: column; /* Agrega esta propiedad */
    
  }
  .contenido{
    flex: 8;
  }
  
  .movimiento{
    position: sticky ; /* Se queda fijo en un punto y baja con la pagina*/
    top: 0;
    bottom: 0;
  }  
  .movimiento li {
    margin-bottom: 10px; /* margen abajo */
  }
.movimiento a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    transition: all 0.2s ease-in-out;
  }
  
  .movimiento a:hover{
    color: #a52a2a;
    text-decoration: underline;
  }
  
  .movimiento h3{
    text-align: center;
  }

/* Tabla */
.tablacaract{
    margin-top: 20px; /* Agrega un margen superior */
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  table caption {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tfoot td {
    font-weight: bold;
  }

  /* Imagen y texto de inicio */
.info{
  margin-top: 10px;
}
.foto-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 10;
    margin: 0;
}

.contenedor_info img{
    width: 21%;
    height: 50%;
    padding-right: 20px;
    float: left;
}
 

.info p{
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #333333;
    margin-bottom: 1em;
}

 /* Resto de contenido */

 .resto-info {
  margin: 20px;
}
.resto-info h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-bottom: 15px;
}

.resto-info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  color: #333333;
  margin-bottom: 1em;
}

.resto-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resto-info li {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.resto-info li:before {
  content: "•";
  font-size: 18px;
  font-weight: bold;
  color: #333;
  position: absolute;
  left: 0;
}
  
  /* Footer */
  .pie-pagina{
    width: 100%;
    background-color: #0a141d;
  }
  
  .pie-pagina .grupo1{
    width: 100%;
    max-height: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  
  .pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pie-pagina .grupo1 .box img{
    width: 250px;
  }
  
  .pie-pagina .grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  
  .pie-pagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo1 .box a{
    color: orange;
  }
  .pie-pagina .grupo1 .box a:hover{
    color: red;
  }
  .pie-pagina .grupo1 .redes a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #000d2033;
    text-align:center;
    transition: all 300ms ease;
  }
  
  .pie-pagina .grupo1 .redes a:hover{
    color: aqua;
  }
  
  .pie-pagina .grupo2{
    background-color:#0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
  }
  
  .pie-pagina .grupo2 small{
    font-size: 15px;
  }